<% if @date %>
  <p>あなたの誕生日は<%="#{@year}年#{@month}月#{@day}日"%>です。<%= "今日があなたの誕生日です。" if birthday?(@date)%></p>
  <p>あなたの星座は<%="#{@constellation}"%>座です。</p>
  <p>あなたは<%="#{@age}"%>歳です。</p>
  <p>今日のあなたの運勢は<%="#{@fortune}"%>です。</p>
<% else %>
  <h1>半角英数字8桁であなたの誕生日を入力してください</h1>
<% end %>